.menu{
 background-color: aquamarine;
 display: flex;
 justify-content: space-around;
 height: 25px;
 font-size: 20px;
font-weight: 700;
}
.footer{
    background-color: aquamarine;
}
.photo {
    width: 200px;
    height: 200px;
    transition: 2s;
    border-radius: 10px;
  margin: 15px;
}
.photo:hover {
    box-shadow: 10px 10px 30px rgb(112, 93, 29);
    transform: scale(1.4);
}
.container{
    display: flex;
    justify-content: center;
}
.subtitle{
    font-size: 20px;
font-weight: 800;
color: brown;
}